apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: fiapx
  labels:
    app.kubernetes.io/name: api
    app.kubernetes.io/component: api-gateway
    app.kubernetes.io/part-of: fiapx
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: api
        app.kubernetes.io/component: api-gateway
        app.kubernetes.io/part-of: fiapx
    spec:
      enableServiceLinks: false
      containers:
        - name: api
          image: fiapx-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: fiapx-config
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: fiapx-secrets
                  key: DATABASE_URL
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: fiapx-secrets
                  key: RABBITMQ_URL
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: fiapx-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: fiapx-secrets
                  key: MINIO_SECRET_KEY
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: fiapx-secrets
                  key: JWT_SECRET
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 5
