apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: fiapx
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/part-of: fiapx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
