apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-pvc
  namespace: fiapx
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/part-of: fiapx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
