apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: fiapx
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: fiapx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
