apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: fiapx
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: fiapx
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'fiapx-api'
        static_configs:
          - targets: ['api:8000']
