apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: fiapx
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/part-of: fiapx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
