name: Notifier Coverage Report

env:
  SERVICE_PATH: fiapx-notifier
  SERVICE_NAME: notifier

on:
  push:
    branches: [ "main" ]
    paths:
      - 'fiapx-notifier/**/*'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'fiapx-notifier/**/*'

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.SERVICE_PATH }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: test and check coverage
      run: |
        pytest
